* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    display: flex;
    justify-content: center;
    /*background: linear-gradient(to right, yellow, red);*/
    background: black;
}

.article {
    width: 720px;
    margin: 20px 0;
    background: white;
    padding: 50px 100px;
    text-align: justify;
    overflow: hidden; /*overflow 의 값을 hidden 으로 설정하면, 부모요소의 범위를 넘어가는 자식요소의 부분은 보이지 않도록 처리 합니다.*/
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}
.subtitle {
    color: #c5c5c5;
    margin:5px 0 70px;
    display: block;
}
.subsection {
    margin-bottom: 40px;
}

.paragraph:first-of-type { /*형제 요소 중 자신의 유형과 일치하는 제일 첫 요소를 나타냅니다.*/
    text-indent: 40px;     /*들여쓰기와 내어쓰기는 text-indent 속성으로 만듭니다.*/
}

.subsection .image {
    float: right;
    margin: 15px 0 10px 20px;
    left: 50%;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);  /*x축으로 0.95만큼 축소*/
    transition: all 0.4s cubic-bezier(0.42, 0, 0.74, 0.95);
    /*해당 element의 모든 속성을 0.4초 동안 제어하면서 4개의 컨트롤 포인트를 가지는 cubic-bezier curve에 의해
     효과를 주는 것이다.*/
}

.subsection:nth-of-type(even) .image {  /*짝수의 이미지를 왼쪽에 배치시킨다.*/
    float: left;
    margin: 15px 20px 10px 0;
    left: -50%;
}
.subsection .image.visible{
    visibility: visible;
    opacity: 1;
    left: 0;
    transform: scale(1);
}

@media screen and (max-width: 750px){
    .article {
        width: 90vw;
        padding: 50px 35px;
    }
    .title {font-size: 25px;};
    .subtitle {font-size: 14px;};
    .paragraph {font-size: 14px;};
}
@media screen and (max-width:500px){
    .paragraph {font-size: 13px;}
}